<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <!-- Breadcrumb Start -->
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-title-md2 font-bold text-black dark:text-white">
      Sign In
    </h2>
    <nav>
      <ol class="flex items-center gap-2">
        <li><a class="font-medium" href="index.html">Dashboard /</a></li>
        <%= link_to "Sign In", new_user_session_path, class: "font-medium text-primary"%>
      </ol>
    </nav>
  </div>
  <!-- Breadcrumb End -->
  <!-- ====== Forms Section Start -->
  <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="flex flex-wrap items-center">
      <div class="hidden w-full xl:block xl:w-1/2">
        <div class="py-17.5 px-26 text-center">
          <a class="mb-5.5 inline-block" href="index.html">
            <%= image_tag asset_path('logo/logo-white.svg'), alt:"logo", class: "hidden dark:block w-20" %>
            <%= image_tag asset_path('logo/logo-black.svg'), alt:"logo", class: "dark:hidden w-20" %>
          </a>
          <p class="font-medium 2xl:px-20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
            suspendisse.
          </p>
          <span class="mt-15 inline-block">
            <%= image_tag asset_path('sign_in.svg'), alt:"logo", class: "h-full"%>
          </span>
        </div>
      </div>
      <div class="w-full border-stroke dark:border-strokedark xl:w-1/2 xl:border-l-2">
        <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
          <span class="mb-1.5 block font-medium">Start for free</span>
          <h2 class="mb-9 text-2xl font-bold text-black dark:text-white sm:text-title-xl2">
            Sign In to Tutor Admin
          </h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-4">
              <%= f.label :email, class: "mb-2.5 block font-medium text-black dark:text-white" %>
              <div class="relative">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" %>
                <span class="absolute right-4 top-4">
                  <span class="material-symbols-outlined">mail</span>
                </span>
              </div>
            </div>
            <div class="mb-6">
              <%= f.label :password, class: "mb-2.5 block font-medium text-black dark:text-white" %>
              <div class="relative">
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "6+ Charactors, 1 Capital letter", class: "w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" %>
                <span class="absolute right-4 top-4">
                  <span class="material-symbols-outlined">lock</span>
                </span>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="mb-6">
                <div x-data="{ checkboxToggle: false }">
                  <%= f.label :remember_me, class: "flex cursor-pointer select-none items-center", for: "checkboxLabelTwo" do %>
                    <div class="relative">
                      <%= f.check_box :remember_me, id: "checkboxLabelTwo", class: "sr-only", "@change" => "checkboxToggle = !checkboxToggle" %>
                      <div :class="checkboxToggle && 'border-primary bg-gray dark:bg-transparent'"
                          class="mr-4 flex h-5 w-5 items-center justify-center rounded border">
                        <span :class="checkboxToggle && '!opacity-100'" class="opacity-0">
                          <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                                fill="#3056D3" stroke="#3056D3" stroke-width="0.4"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                    Remember me
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="mb-5">
              <%= f.submit "Log in", class: "w-full cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white transition hover:bg-opacity-90" %>
            </div>
            <div class="mt-6 text-center">
              <p class="font-medium">
                Don’t have any account?
                <%= link_to "Sign Up", new_user_registration_path, class: "text-primary" %>
              </p>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- ====== Forms Section End -->
</div>
